body {
    background-color: #FDF5DF;
}
h1 {
    color: #5EBEC4;
    font-family: 'Ailerons', sans-serif;
    font-size: 100px;
    text-align: center;
    margin: auto;
    margin-top: 50%;
    -webkit-text-stroke: 2px #F92C85;
}